.label {
    -fx-text-fill: -color-font-usually;
}

.text {
    -fx-text-fill: -color-font-usually;
}

.menu-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-pref-height: 30px;
}

.menu-bar .container .menu {
    -fx-pref-height: inherit;
}


.context-menu {
    -fx-padding: 1 2 1 2;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}




.title-bar {
    -fx-background-color: -color-theme-1;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 0 1 0;
}


.activity-bar {
    -fx-background-color: -color-theme-1;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 0 0;
}


.status-bar {
    -fx-background-color: -color-theme-1;
    -fx-border-color: -color-border-window;
    -fx-border-width: 1 0 0 0;
}


.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -color-theme-4;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 0 1 0;
}


.tab-pane .tab-header-area .headers-region .tab .tab-container .tab-label>.text {
    -fx-fill: -color-font-usually;
}



.tab-pane .tab-header-area .headers-region .tab {
    -fx-background-color: -color-theme-4;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 0 0;
}


.tab-pane .tab-header-area .headers-region .tab:selected {
    -fx-background-color: -color-theme-2;
    -fx-border-color: -color-border-window;
}


.tab-pane-focused .tab-header-area .headers-region .tab:selected {
    -fx-background-color: -color-theme-1;
    -fx-border-color: -color-border-window;
}
.tab-pane-focused .tab-header-area .headers-region .tab:selected .tab-container .tab-label>.text {
    -fx-fill: -color-font-light;
}


.tab-pane:top .tab-header-area .headers-region .tab:selected:top .tab-container .tab-close-button {}

.tab-pane:focused>.tab-header-area>.headers-region>.tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.tab-pane .tab-header-area .control-buttons-tab {
    -fx-pref-width: 18px;
    -fx-pref-height: 32px;
}


.tab-pane .tab-header-area .control-buttons-tab .container {
    -fx-background-color: -color-theme-4;
    -fx-border-color: -color-border-window;
    -fx-border-width: 1;
    -fx-background-radius: 0;
}

.tab-pane .tab-header-area .control-buttons-tab .container .tab-down-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-padding: 8;
}


.side-bar .tab-header-area .tab-header-background {
    -fx-background-color: -color-theme-1;
}

.side-bar {
    -fx-background-color: -color-theme-2;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 0 0;
}

.side-bar .tab-header-area {
    -fx-padding: 0;
}

.side-bar .tab-header-area .headers-region {
    -fx-padding: 0;
}

.side-bar .tab-header-area .headers-region .tab {
    -fx-background-color: transparent;
    -fx-pref-width: 50;
    -fx-pref-height: 50;

    -fx-border-width: 0;
    -fx-padding: 10;
}

.side-bar .tab-header-area .headers-region .tab:selected,
.side-bar:focused .tab-header-area .headers-region .tab:selected {
    -fx-border-width: 4 0 0 0;
    -fx-padding: 6 10 10 10;

    -fx-background-color: transparent;
    -fx-border-color: -color-font-light;
}


.side-bar .tab-header-area .headers-region .tab:left .tab-container {
    -fx-padding: 0;
}

.side-bar .tab-header-area .headers-region .tab .icon {
    -fx-background-color: -color-font-usually;
}

.side-bar .tab-header-area .headers-region .tab:selected .icon {
    -fx-background-color: -color-font-light;
}

.fold-side-bar .tab-header-area .headers-region .tab:selected .icon {
    -fx-background-color: -color-font-usually;
}


.fold-side-bar .tab-header-area .headers-region .tab,
.fold-side-bar:focused .tab-header-area .headers-region .tab:selected,
.fold-side-bar .tab-header-area .headers-region .tab:selected {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 10;
}


.adjust-side-bar {
    -fx-border-color: -color-blue;
    -fx-border-width: 0 4 0 0;
    -fx-padding: 0 -3 0 0;
}


.workspace>.icon {
    -fx-background-color: -color-theme-3;
}

.body {
    -fx-background-color: -color-theme-4;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 0 1;
}

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-color: -color-border-window;
    -fx-border-width: 1 0 1 0;
}


.scroll-bar .thumb {
    -fx-background-color: -color-theme-1;
    -fx-background-radius: 2;
    -fx-padding: 0;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
    -fx-background-color: -color-theme-1-light;
}

.scroll-bar .decrement-button:hover,
.scroll-bar .increment-button:hover {
    -fx-background-color: -color-theme-1-light;
}

.corner {
    -fx-background-color: transparent;
}

.preview-bar {
    -fx-background-color: -color-theme-4;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 0 0 1;
}

.map-canvas {
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 0 1;
}


.preview-pane {
    -fx-background-color: #ffffff44;
    -fx-border-color: -color-theme-3;
    -fx-border-width: 2 0 2 0;
}


.h-tool-group-bar {
    -fx-background-color: -color-theme-2;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 0 1 0;
}


.h-tool-group-bar>.group>* {
    -fx-padding: 2;
}

.h-tool-group-bar>.group>.icon {
    -fx-background-color: -color-font-usually;
    -fx-background-insets: 0;
}

/*.h-tool-group-bar > .group > .button:selected, .h-tool-group-bar > .group > .button:pressed {
    -fx-background-color: -color-font-light;
}

.h-tool-group-bar > .group > .button:selected, .h-tool-group-bar > .group > .button:pressed, .h-tool-group-bar > .group > .button:focused {
    -fx-padding: 2;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}*/

.h-tool-group-bar>.group {
    -fx-padding: 0 4 0 4;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 0 0;
}


.v-tool-group-bar {
    -fx-background-color: -color-theme-2;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 1 0;
}


.v-tool-group-bar>.group>.button {
    -fx-padding: 2;
    -fx-background-color: -color-font-usually;
    -fx-background-insets: 0;
}

.v-tool-group-bar>.group>.button:selected,
.v-tool-group-bar>.group>.button:pressed {
    -fx-background-color: -color-font-light;
}

.v-tool-group-bar>.group>.button:selected,
.v-tool-group-bar>.group>.button:pressed,
.v-tool-group-bar>.group>.button:focused {
    -fx-padding: 2;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.v-tool-group-bar>.group {
    -fx-padding: 4 0 4 0;
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 0 1 0;
}


.text-field,
.text-area {
    -fx-padding: 5;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: -color-font-usually;
    -fx-highlight-fill: #093939;
    -fx-highlight-text-fill: -color-font-usually;
    -fx-border-color: -color-border-window;
    -fx-border-width: 1 1 1 1;
    -fx-prompt-text-fill: -color-font-usually;
}


.text-field:focused,
.text-area:focused {
    -fx-background-radius: 0;
    -fx-highlight-text-fill: -color-font-light;
    -fx-text-fill: -color-font-light;
    -fx-prompt-text-fill: transparent;
}





.separator:horizontal .line {
    -fx-padding: 1 4 0 4;
    -fx-border-color: -color-border-window;
    -fx-border-width: 1 0 0 0;
}


.info-canvas-pane {
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 0 0;
}


.dialog-pane {
    -fx-background-color: -color-theme-1;
}

.dialog-pane .text {
    -fx-fill: -color-font-usually;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: -color-font-usually;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-background-insets: 0;
}

.button .text {
    -fx-fill: -color-font-usually;
}

.button:hover .text {
    -fx-fill: -color-font-light;
}

.button:hover {
    -fx-border-color: -color-font-light;
    -fx-background-insets: 0;
}

.check-box:determinate .box {
    -fx-border-color: -color-font-usually;
    -fx-background-color: transparent;
    -fx-border-width: 2;
    -fx-border-radius: 4;
    -fx-padding: 1;
}

.check-box:determinate .text {
    -fx-fill: -color-font-usually;
}

.check-box:determinate:selected .box {
    -fx-border-color: -color-font-light;
}

.check-box:determinate .box .mark {
    -fx-padding: 6;
    -fx-fill: -color-font-light;
    -fx-shape: "M10.0007 15.1709L19.1931 5.97852L20.6073 7.39273L10.0007 17.9993L3.63672 11.6354L5.05093 10.2212L10.0007 15.1709Z M0,0z M24,24z";
}

.tooltip {
    -fx-background-color: -color-theme-1;
    -fx-text-fill: -color-font-light;
    -fx-font-size: 12px;
    -fx-border-color: -color-border-window;
    -fx-padding: 4;
    -fx-effect: null;
}

.split-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.split-pane .split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color: -color-border-window;
}

.split-pane .split-pane-divider:hover,
.split-pane .split-pane-divider:pressed {
    -fx-background-color: -color-blue;
    -fx-padding: 0 1 0 1;
}


.editor-area .tab .left {
    -fx-border-color: -color-blue;
    -fx-border-width: 0 0 0 2;
    -fx-padding: 0 0 0 -2;
}

.editor-area .tab .right {
    -fx-border-color: -color-blue;
    -fx-border-width: 0 2 0 0;
    -fx-padding: 0 -2 0 0;
}


.editor-area .editor-tab-pane .layout-left {
    -fx-border-color: -color-blue;
    -fx-border-width: 0 0 0 4;
    -fx-padding: 0 0 0 -4;
}

.editor-area .editor-tab-pane .layout-right {
    -fx-border-color: -color-blue;
    -fx-border-width: 0 4 0 0;
    -fx-padding: 0 -4 0 0;
}

.editor-area .editor-tab-pane .layout-top {
    -fx-border-color: -color-blue;
    -fx-border-width: 4 0 0 0;
    -fx-padding: -4 0 0 0;
}

.editor-area .editor-tab-pane .layout-bottom {
    -fx-border-color: -color-blue;
    -fx-border-width: 0 0 4 0;
    -fx-padding: 0 0 -4 0;
}

.editor-area .editor-tab-pane .layout-center {
    -fx-border-color: -color-blue;
    -fx-border-width: 4;
    -fx-padding: -4;
}

.tool-bar {
    -fx-background-color: transparent;
}

.group-component {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: -color-font-usually;
    -fx-border-color: -color-border-window;
    -fx-border-width: 1;
}

.group-component .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}


.button-color-blue {
    -fx-border-color: -color-dark-blue;
}

.button-color-blue:hover {
    -fx-border-color: -color-blue;
}

.button-color-blue:pressed {
    -fx-border-color: -color-light-blue;

}


.button-color-red {
    -fx-border-color: -color-dark-red;
}

.button-color-red:hover {
    -fx-border-color: -color-red;
}

.button-color-red:pressed {
    -fx-border-color: -color-light-red;
}


.button-color-purple {
    -fx-border-color: -color-dark-purple;
}

.button-color-purple:hover {
    -fx-border-color: -color-purple;
}

.button-color-purple:pressed {
    -fx-border-color: -color-light-purple;

}


.button-color-yellow {
    -fx-border-color: -color-dark-yellow;
}

.button-color-yellow:hover {
    -fx-border-color: -color-yellow;
}

.button-color-yellow:pressed {
    -fx-border-color: -color-light-yellow;

}


.button-color-green {
    -fx-border-color: -color-dark-green;
}

.button-color-green:hover {
    -fx-border-color: -color-green;
}

.button-color-green:pressed {
    -fx-border-color: -color-light-green;

}


.button-color-orange {
    -fx-border-color: -color-dark-orange;
}

.button-color-orange:hover {
    -fx-border-color: -color-orange;
}

.button-color-orange:pressed {
    -fx-border-color: -color-light-orange;

}


.button-color-pink {
    -fx-border-color: -color-dark-pink;
}

.button-color-pink:hover {
    -fx-border-color: -color-pink;
}

.button-color-pink:pressed {
    -fx-border-color: -color-light-pink;

}


.button-color-gray {
    -fx-border-color: -color-dark-gray;
}

.button-color-gray:hover {
    -fx-border-color: -color-gray;
}

.button-color-gray:pressed {
    -fx-border-color: -color-light-gray;
}


.button-color-white {
    -fx-border-color: -color-dark-white;
}

.button-color-white:hover {
    -fx-border-color: -color-white;
}

.button-color-white:pressed {
    -fx-border-color: -color-light-white;
}


.button-color-font-usually {
    -fx-border-color: -color-font-usually;
}

.button-color-font-usually:hover {
    -fx-border-color: -color-font-light;
}

.button-color-font-usually:pressed {
    -fx-border-color: -color-font-light;
}






.icon-button,
.icon-button:pressed,
.icon-button:hover {
    -fx-border-color: transparent;
}



.icon-button-color-blue {
    -fx-background-color: -color-dark-blue;
}

.icon-button-color-blue:hover {
    -fx-background-color: -color-blue;
}

.icon-button-color-blue:pressed {
    -fx-background-color: -color-light-blue;

}


.icon-button-color-red {
    -fx-background-color: -color-dark-red;
}

.icon-button-color-red:hover {
    -fx-background-color: -color-red;
}

.icon-button-color-red:pressed {
    -fx-background-color: -color-light-red;
}


.icon-button-color-purple {
    -fx-background-color: -color-dark-purple;
}

.icon-button-color-purple:hover {
    -fx-background-color: -color-purple;
}

.icon-button-color-purple:pressed {
    -fx-background-color: -color-light-purple;

}


.icon-button-color-yellow {
    -fx-background-color: -color-dark-yellow;
}

.icon-button-color-yellow:hover {
    -fx-background-color: -color-yellow;
}

.icon-button-color-yellow:pressed {
    -fx-background-color: -color-light-yellow;

}


.icon-button-color-green {
    -fx-background-color: -color-dark-green;
}

.icon-button-color-green:hover {
    -fx-background-color: -color-green;
}

.icon-button-color-green:pressed {
    -fx-background-color: -color-light-green;

}


.icon-button-color-orange {
    -fx-background-color: -color-dark-orange;
}

.icon-button-color-orange:hover {
    -fx-background-color: -color-orange;
}

.icon-button-color-orange:pressed {
    -fx-background-color: -color-light-orange;

}


.icon-button-color-pink {
    -fx-background-color: -color-dark-pink;
}

.icon-button-color-pink:hover {
    -fx-background-color: -color-pink;
}

.icon-button-color-pink:pressed {
    -fx-background-color: -color-light-pink;

}


.icon-button-color-gray {
    -fx-background-color: -color-dark-gray;
}

.icon-button-color-gray:hover {
    -fx-background-color: -color-gray;
}

.icon-button-color-gray:pressed {
    -fx-background-color: -color-light-gray;
}


.icon-button-color-white {
    -fx-background-color: -color-dark-white;
}

.icon-button-color-white:hover {
    -fx-background-color: -color-white;
}

.icon-button-color-white:pressed {
    -fx-background-color: -color-light-white;
}


.icon-button-color-font-usually {
    -fx-background-color: -color-font-usually;
}

.icon-button-color-font-usually:hover {
    -fx-background-color: -color-font-light;
}

.icon-button-color-font-usually:pressed {
    -fx-background-color: -color-font-light;
}



.tree-view {
    -fx-background-color: transparent;
}

.tree-view .virtual-flow .clipped-container .sheet .tree-cell {
    -fx-background-color: transparent;
}

.tree-view .virtual-flow .clipped-container .sheet .tree-cell:selected {
    -fx-background-color: -color-theme-1;

}

.tree-view .virtual-flow .clipped-container .sheet .tree-cell>.text {
    -fx-fill: -color-font-usually;
}

.tree-view .virtual-flow .clipped-container .sheet .tree-cell:selected>.text {
    -fx-fill: -color-font-light;
}


.arrow {
    -fx-background-color: -color-font-usually;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.combo-box,
.choice-box {
    -fx-background-color: -color-theme-4;
    -fx-border-color: -color-border-window;
}


.list-view {
    -fx-background-color: transparent;
    -fx-border-color: -color-border-window;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell {
    -fx-background-color: transparent;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:selected {
    -fx-background-color: -color-theme-1;

}

.list-view .virtual-flow .clipped-container .sheet .list-cell>.text {
    -fx-fill: -color-font-usually;
}

.list-view .virtual-flow .clipped-container .sheet .list-cell:selected>.text {
    -fx-fill: -color-font-light;
}

.file-view {
    -fx-border-color: -color-border-window;
    -fx-border-width: 1;
}

.file-view .list-view,
.file-view .tree-view {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.border-color {
    -fx-border-color: -color-border-window;
}

.border-color-top {
    -fx-border-color: -color-border-window;
    -fx-border-width: 1 0 0 0;
}

.border-color-right {
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 1 0 0;
}

.border-color-bottom {
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 0 1 0;
}

.border-color-left {
    -fx-border-color: -color-border-window;
    -fx-border-width: 0 0 0 1;
}

.alert {
    -fx-background-color: -color-theme-3;
}


/* 修改Alert标题的颜色 */
.alert .header-panel {
    -fx-background-color: -color-theme-1;
}

/* 修改Alert文本内容的颜色 */
.alert .content {
    -fx-background-color: -color-theme-3;
}

.text-area {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport .content {
    -fx-background-color: transparent;
}



.bg-color-dark-blue {
    -fx-background-color: -color-dark-blue;
}

.bg-color-blue {
    -fx-background-color: -color-blue;
}

.bg-color-light-blue {
    -fx-background-color: -color-light-blue;
}

.bg-color-dark-red {
    -fx-background-color: -color-dark-red;
}

.bg-color-red {
    -fx-background-color: -color-red;
}

.bg-color-light-red {
    -fx-background-color: -color-light-red;
}

.bg-color-dark-purple {
    -fx-background-color: -color-dark-purple;
}

.bg-color-purple {
    -fx-background-color: -color-purple;
}

.bg-color-light-purple {
    -fx-background-color: -color-light-purple;
}

.bg-color-dark-yellow {
    -fx-background-color: -color-dark-yellow;
}

.bg-color-yellow {
    -fx-background-color: -color-yellow;
}

.bg-color-light-yellow {
    -fx-background-color: -color-light-yellow;
}

.bg-color-dark-green {
    -fx-background-color: -color-dark-green;
}

.bg-color-green {
    -fx-background-color: -color-green;
}

.bg-color-light-green {
    -fx-background-color: -color-light-green;
}

.bg-color-dark-orange {
    -fx-background-color: -color-dark-orange;
}

.bg-color-orange {
    -fx-background-color: -color-orange;
}

.bg-color-light-orange {
    -fx-background-color: -color-light-orange;
}

.bg-color-dark-pink {
    -fx-background-color: -color-dark-pink;
}

.bg-color-pink {
    -fx-background-color: -color-pink;
}

.bg-color-light-pink {
    -fx-background-color: -color-light-pink;
}

.bg-color-dark-gray {
    -fx-background-color: -color-dark-gray;
}

.bg-color-gray {
    -fx-background-color: -color-gray;
}

.bg-color-light-gray {
    -fx-background-color: -color-light-gray;
}

.bg-color-dark-white {
    -fx-background-color: -color-dark-white;
}

.bg-color-white {
    -fx-background-color: -color-white;
}

.bg-color-light-white {
    -fx-background-color: -color-light-white;
}

.bg-color-font-usually {
    -fx-background-color: -color-font-usually;
}

.bg-color-font-light {
    -fx-background-color: -color-font-light;
}

.text-color-dark-blue {
    -fx-text-fill: -color-dark-blue;
}

.text-color-blue {
    -fx-text-fill: -color-blue;
}

.text-color-light-blue {
    -fx-text-fill: -color-light-blue;
}

.text-color-dark-red {
    -fx-text-fill: -color-dark-red;
}

.text-color-red {
    -fx-text-fill: -color-red;
}

.text-color-light-red {
    -fx-text-fill: -color-light-red;
}

.text-color-dark-purple {
    -fx-text-fill: -color-dark-purple;
}

.text-color-purple {
    -fx-text-fill: -color-purple;
}

.text-color-light-purple {
    -fx-text-fill: -color-light-purple;
}

.text-color-dark-yellow {
    -fx-text-fill: -color-dark-yellow;
}

.text-color-yellow {
    -fx-text-fill: -color-yellow;
}

.text-color-light-yellow {
    -fx-text-fill: -color-light-yellow;
}

.text-color-dark-green {
    -fx-text-fill: -color-dark-green;
}

.text-color-green {
    -fx-text-fill: -color-green;
}

.text-color-light-green {
    -fx-text-fill: -color-light-green;
}

.text-color-dark-orange {
    -fx-text-fill: -color-dark-orange;
}

.text-color-orange {
    -fx-text-fill: -color-orange;
}

.text-color-light-orange {
    -fx-text-fill: -color-light-orange;
}

.text-color-dark-pink {
    -fx-text-fill: -color-dark-pink;
}

.text-color-pink {
    -fx-text-fill: -color-pink;
}

.text-color-light-pink {
    -fx-text-fill: -color-light-pink;
}

.text-color-dark-gray {
    -fx-text-fill: -color-dark-gray;
}

.text-color-gray {
    -fx-text-fill: -color-gray;
}

.text-color-light-gray {
    -fx-text-fill: -color-light-gray;
}

.text-color-dark-white {
    -fx-text-fill: -color-dark-white;
}

.text-color-white {
    -fx-text-fill: -color-white;
}

.text-color-light-white {
    -fx-text-fill: -color-light-white;
}

.text-color-font-usually {
    -fx-text-fill: -color-font-usually;
}

.text-color-font-light {
    -fx-text-fill: -color-font-light;
    -fx-highlight-text-fill: -color-font-light;
}



.menu-bar>.container>.menu {
    -fx-background-color: -color-theme-1;
}

.menu-bar>.container>.menu:hover,
.menu-bar>.container>.menu:showing {
    -fx-background-color: -color-theme-1-light;
}

.menu-bar>.container>.menu>.label>.text {
    -fx-fill: -color-font-usually;
}

.menu-bar>.container>.menu:hover>.label>.text,
.menu-bar>.container>.menu:showing>.label>.text {
    -fx-fill: -color-font-light;
}


.context-menu {
    -fx-background-color: -color-theme-1;
    -fx-border-color: -color-border-window;
    -fx-padding: 1 0 1 0;
}

.menu-item {
    -fx-background-color: -color-theme-1;
}

.menu-item:hover {
    -fx-background-color: -color-theme-3;
}

.menu-item>.label>.text {
    -fx-fill: -color-font-usually;
}

.menu-item:hover>.label>.text {
    -fx-fill: -color-font-light;
}