.root {
    /**
    内置颜色
     */
    -color-blue-dark: #498ba7; /* 深蓝色 */
    -color-blue-normal: #519aba; /* 蓝色 */
    -color-blue-light: #61b9e0; /* 浅蓝色 */
    -color-red-dark: #84282c; /* 深红色 */
    -color-red-normal: #b8383d; /* 红色 */
    -color-red-light: #ff4d54; /* 浅红色 */
    -color-purple-dark: #9068b0; /* 深紫色 */
    -color-purple-normal: #a074c4; /* 紫色 */
    -color-purple-light: #bf8aea; /* 浅紫色 */
    -color-yellow-dark: #b7b73b; /* 深黄色 */
    -color-yellow-normal: #cbcb41; /* 黄色 */
    -color-yellow-light: #f1f14d; /* 浅黄色 */
    -color-green-dark: #7fae42; /* 深绿色 */
    -color-green-normal: #8dc149; /* 绿色 */
    -color-green-light: #a8e757; /* 浅绿色 */
    -color-orange-dark: #cc6d2e; /* 深橙色 */
    -color-orange-normal: #e37933; /* 橙色 */
    -color-orange-light: #ff9539; /* 浅橙色 */
    -color-pink-dark: #dd4b78; /* 深粉色 */
    -color-pink-normal: #f55385; /* 粉色 */
    -color-pink-light: #ff567f; /* 浅粉色 */
    -color-gray-dark: #455155; /* 深灰色 */
    -color-gray-normal: #6d8086; /* 灰色 */
    -color-gray-light: #8ca4ac; /* 浅灰色 */
    -color-white-dark: #a1a3a3; /* 深白色 */
    -color-white-normal: #d4d7d6; /* 白色 */
    -color-white-light: #f9fdfc; /* 浅白色 */

    /**
    简便颜色
     */
    -color-blue: -color-blue-normal;/* 蓝色 */
    -color-red: -color-red-normal;/* 红色 */
    -color-purple: -color-purple-normal;/* 紫色 */
    -color-yellow: -color-yellow-normal;/* 黄色 */
    -color-green: -color-green-normal;/* 绿色 */
    -color-orange: -color-orange-normal;/* 橙色 */
    -color-pink: -color-pink-normal;/* 粉色 */
    -color-gray: -color-gray-normal;/* 灰色 */
    -color-white: -color-white-normal;/* 白色 */


    /**
    自定义颜色
     */
    -color-theme-1: #3c3c3c; /* 主题颜色-1 */
    -color-theme-2: #323232; /* 主题颜色-2 */
    -color-theme-3: #292929; /* 主题颜色-3 */

    /**
    文本
     */
    -color-text-disabled: #727272; /* 禁用文本 */
    -color-text-powerless: #969696; /* 无力文本 */
    -color-text-usually: #bdbdbd; /* 通常文本 */
    -color-text-hover: #dedede; /* 悬停文本 */
    -color-text-active: #efefef; /* 活动文本 */
    -color-text-highlight: #ffffff; /* 高亮文本 */
    -color-text-prompt: rgba(155, 155, 155, 0.57); /*提示文本 */

    /* 边框颜色 */
    -color-border-pane: #505050; /*面板边框*/
    -color-border-component: #707070; /*组件边框*/
    -color-border-component-active: #adadad; /*激活组件边框*/
    -color-border-active: -color-blue-normal; /*活动边框*/


    /**
    菜单栏
     */
    -color-menu-bar-bg-usually: transparent; /*通常背景*/

    /**
    菜单按钮
     */
    -color-menu-bg-usually: transparent; /*通常背景*/
    -color-menu-bg-hover: -color-theme-2; /*悬停背景*/
    -color-menu-bg-active: -color-theme-3; /*激活背景*/
    -color-menu-text-usually: -color-text-usually; /* 通常文本 */
    -color-menu-text-hover: -color-text-hover; /* 悬停文本 */
    -color-menu-text-active: -color-text-active; /* 激活文本 */

    /**
    菜单选项
     */
    -color-menu-item-bg-usually: -color-theme-1; /*通常选项*/
    -color-menu-item-bg-hover: -color-theme-2; /*悬停选项*/
    -color-menu-item-text-usually: -color-text-usually; /* 通常文本 */
    -color-menu-item-text-hover: -color-text-hover; /* 悬停文本 */
    -color-menu-item-border-hover: #78c7c7; /* 悬停边框 */


    /**
   标题栏面板
    */
    -color-title-bar-bg-usually: -color-theme-1; /* 通常背景 */
    -color-title-bar-text-usually: -color-text-usually; /* 通常文本 */


    /**
    状态栏面板
    */
    -color-status-bar-bg-usually: -color-theme-1; /* 通常背景 */
    /**
    状态栏选项
     */
    -color-status-bar-item-bg-usually: transparent; /* 通常背景 */
    -color-status-bar-item-bg-hover: -color-theme-2; /* 通常背景 */
    -color-status-bar-item-bg-pressed: -color-theme-3; /* 通常背景 */
    -color-status-bar-item-text-usually: #505050; /* 通常文本 */
    -color-status-bar-item-text-hover: #505050; /* 通常文本 */
    -color-status-bar-item-text-pressed: #505050; /* 通常文本 */


    /**
    活动栏面板
     */
    -color-activity-bar-bg-usually: -color-theme-2; /*通常背景*/
    /**
    活动栏选项
     */
    -color-activity-bar-item-bg-usually: #505050; /*通常背景*/
    -color-activity-bar-item-bg-hover: #505050; /*悬停背景*/
    -color-activity-bar-item-bg-selected: #505050; /*选中背景*/
    -color-activity-bar-item-text-usually: #505050; /*通常文本*/
    -color-activity-bar-item-text-hover: #505050; /*悬停文本*/
    -color-activity-bar-item-text-selected: #505050; /*选中文本*/
    /**
    侧边栏面板
     */
    -color-side-bar-bg-usually: #505050; /*通常背景*/
    -color-side-bar-title-text-usually: #505050; /*通常文本*/

    /**
    编辑区面板
     */
    -color-editor-area-bg-usually: #505050; /*通常背景*/
    /**
    编辑器面板
    */
    -color-editor-bg-usually: -color-theme-3; /*通常背景*/

    /**
    选项卡面板
    */
    -color-tab-pane-bg-usually: transparent; /*通常背景*/
    /**
    选项卡选项
    */
    -color-tab-pane-tab-bg-usually: -color-theme-3; /*通常背景*/
    -color-tab-pane-tab-bg-hover: -color-theme-2; /*悬停背景*/
    -color-tab-pane-tab-bg-selected: -color-theme-2; /*选中背景*/
    -color-tab-pane-tab-bg-active: -color-theme-1; /*活动背景*/
    -color-tab-pane-tab-text-usually: -color-text-usually; /*通常文本*/
    -color-tab-pane-tab-text-hover: -color-text-hover; /*悬停文本*/
    -color-tab-pane-tab-text-selected: -color-text-selected; /*选中文本*/
    -color-tab-pane-tab-text-active: -color-text-active; /*活动文本*/
    -color-tab-pane-tab-border-usually: -color-border-pane; /*通常边框*/
    -color-tab-pane-tab-border-hover: transparent; /*悬停边框*/
    -color-tab-pane-tab-border-selected: transparent; /*选中边框*/
    -color-tab-pane-tab-border-active: -color-border-active; /*活动边框*/


    /**
    按钮
     */
    -color-button-bg-usually: #9A9A9A; /* 通常背景 */
    -color-button-bg-hover: #C8C8C8; /* 悬停背景 */
    -color-button-bg-pressed: #C8C8C8; /* 按下背景 */
    -color-button-bg-disabled: #c77878; /* 禁用背景 */

    -color-button-border-usually: #505050; /*通常边框*/
    -color-button-border-hover: #505050; /*悬停边框*/
    -color-button-border-pressed: #505050; /*按下边框*/
    -color-button-border-disabled: #505050; /*禁用边框*/

    /**
    文本组件 包含文本域 文本区域
     */
    -color-text-component-bg-usually: transparent; /*通常背景*/
    -color-text-component-bg-focused: transparent; /*焦点背景*/
    -color-text-component-bg-disabled: transparent; /*禁用背景*/
    -color-text-component-bg-highlight: rgba(255, 255, 255, 0.37); /*高亮背景*/
    -color-text-component-text-usually: -color-text-usually; /*通常文本*/
    -color-text-component-text-focused: -color-text-focused; /*焦点文本*/
    -color-text-component-text-disabled: -color-text-disabled; /*禁用文本*/
    -color-text-component-text-highlight: -color-text-highlight; /*高亮文本*/
    -color-text-component-border-usually: -color-text-focused; /*通常边框*/
    -color-text-component-border-focused: -color-text-focused; /*焦点边框*/
    -color-text-component-border-disabled: -color-text-disabled; /*禁用边框*/

    -color-component-bg-usually: rgba(255, 255, 255, 0.04); /*通常背景*/
    -color-component-bg-hover: rgba(255, 255, 255, 0.06); /*悬停背景*/
    -color-component-bg-focused: transparent; /*焦点背景*/
    -color-component-bg-active: rgba(255, 255, 255, 0.1); /*激活背景*/
    -color-component-bg-disabled: transparent; /*禁用背景*/
    -color-component-text-usually: -color-text-usually; /*通常文本*/
    -color-component-text-hover: -color-text-hover; /*通常文本*/
    -color-component-text-active: -color-text-active; /*通常文本*/
    -color-component-text-disabled: -color-text-disabled; /*禁用文本*/
    -color-component-text-prompt: -color-text-prompt; /*禁用文本*/
    -color-component-border-usually: -color-border-component; /*通常边框*/
    -color-component-border-active: -color-border-component-active; /*通常边框*/
    -color-component-border-focused: -color-border-active; /*焦点边框*/
    -color-component-border-disabled: -color-text-disabled; /*禁用边框*/

    /**
    文件类型颜色
     */
    -color-filetype-folder: -color-orange-normal;
    -color-filetype-music-map: -color-yellow-normal;
    -color-filetype-compression: -color-purple-normal;
    -color-filetype-audio: -color-green-normal;
    -color-filetype-image: -color-blue-normal;
    -color-filetype-video: -color-pink-normal;
    -color-filetype-text: -color-white-normal;
    -color-filetype-unknown: -color-gray-normal;

    /**
    不同文件的颜色
     */

    -color-file-zxm: -color-filetype-music-map;
    -color-file-osu: -color-filetype-music-map;
    -color-file-imd: -color-filetype-music-map;
    -color-file-mc: -color-filetype-music-map;

    -color-file-mp3: -color-filetype-audio;
    -color-file-ogg: -color-filetype-audio;
    -color-file-wav: -color-filetype-audio;
    -color-file-flac: -color-filetype-audio;

    -color-file-png: -color-filetype-image;
    -color-file-jpg: -color-filetype-image;
    -color-file-jpeg: -color-filetype-image;
    -color-file-svg: -color-filetype-image;

    -color-file-mp4: -color-filetype-video;
    -color-file-avi: -color-filetype-video;
    -color-file-mkv: -color-filetype-video;
    -color-file-mov: -color-filetype-video;
    -color-file-wmv: -color-filetype-video;
    -color-file-flv: -color-filetype-video;
    -color-file-webm: -color-filetype-video;
    -color-file-3gp: -color-filetype-video;
    -color-file-m4v: -color-filetype-video;
    -color-file-mpg: -color-filetype-video;

    -color-file-zxp: -color-filetype-text;

    -color-file-txt: -color-filetype-text;
    -color-file-csv: -color-filetype-text;
    -color-file-xml: -color-filetype-text;
    -color-file-csv: -color-filetype-text;
    -color-file-json: -color-filetype-text;
    -color-file-md: -color-filetype-text;
    -color-file-log: -color-filetype-text;
    -color-file-ini: -color-filetype-text;
    -color-file-cfg: -color-filetype-text;

    -color-file-zip: -color-filetype-compression;
    -color-file-rar: -color-filetype-compression;
    -color-file-7z: -color-filetype-compression;
    -color-file-tar: -color-filetype-compression;
    -color-file-gz: -color-filetype-compression;
    -color-file-bz2: -color-filetype-compression;

    -color-file-osz: -color-filetype-compression;
    -color-file-mcz: -color-filetype-compression;

    -color-file-unknown: -color-filetype-unknown;

}