.title-bar {
    -fx-background-color: #3E3E3E;
    -fx-border-color: #505050;
    -fx-border-width: 0 0 1 0;
}

.menu-bar > .container > .menu {
    -fx-background-color: transparent;
}

.menu-bar > .container > .menu:hover,
.menu-bar > .container > .menu:showing {
    -fx-background-color: #545454;
}

.menu-bar > .container > .menu > .label > .text {
    -fx-fill: #9A9A9A;
}

.menu-bar > .container > .menu:hover > .label > .text,
.menu-bar > .container > .menu:showing > .label > .text {
    -fx-fill: #C8C8C8;
}


.context-menu {
    -fx-background-color: #3E3E3E;
    -fx-border-color: #505050;
    -fx-padding: 1 0 1 0;
}

.menu-item {
    -fx-background-color: #3E3E3E;
}

.menu-item:hover {
    -fx-background-color: #545454;
}

.menu-item > .label > .text {
    -fx-fill: #9A9A9A;
}

.menu-item:hover > .label > .text {
    -fx-fill: #C8C8C8;
}

.activity-bar {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #505050;
    -fx-border-width: 0 1 0 0;
}

.editor {
    -fx-background-color: #2D2D2D;
}

.side-bar {
    -fx-background-color: #292929;
    -fx-border-color: #505050;
    -fx-border-width: 0 1 0 0;
}

.workspace > .icon {
    -fx-background-color: #2E2E2E;
}

.body {
    -fx-background-color: #232323;
}

.scroll-bar {
    -fx-background-color: #232323;
}

.scroll-pane {
    -fx-background-color: #ffffff11;
    -fx-border-color: #505050;
    -fx-border-width: 2 0 2 0;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: #292929;
    -fx-border-color: #505050;
    -fx-border-width: 0 0 1 0;
}

.tab-pane:top .tab-header-area .headers-region .tab .tab-container .tab-label > .text {
    -fx-fill: #9A9A9A;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected .tab-container .tab-label > .text {
    -fx-fill: #C8C8C8;
}

.tab-pane:top .tab-header-area .headers-region .tab {
    -fx-background-color: #292929;
    -fx-border-color: #3b3b3b;
    -fx-border-width: 0 1 0 0;
}


.tab-pane:top .tab-header-area .headers-region .tab:selected {
    -fx-background-color: #323232;
    -fx-border-color: #4b4b4b;
}


.tab-pane:top .tab-header-area .headers-region .tab:selected:top .tab-container .tab-close-button {

}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}
.tab-pane:top .tab-header-area .control-buttons-tab{
    -fx-pref-width: 18px;
    -fx-pref-height: 32px;
}

.tab-pane:top .tab-header-area .control-buttons-tab .container {
    -fx-background-color: #303030;
    -fx-border-color: #505050;
    -fx-border-width: 1 1 1 1;
    -fx-background-radius: 0;
}

.tab-pane:top .tab-header-area .control-buttons-tab .container .tab-down-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-padding: 8;
}


.editor .layout {
    -fx-background-color: #323232;
    -fx-border-color: #505050;
    -fx-border-width: 0 0 1 0;
}