/*
:root {
  --color-blue: #498ba7;
  --color-light-blue: #519aba;
  --color-red: #b8383d;
  --color-dark-red: #cc3e44;
  --color-purple: #9068b0;
  --color-light-purple: #a074c4;
  --color-green: #b7b73b;
  --color-light-green: #cbcb41;
  --color-olive: #7fae42;
  --color-light-olive: #8dc149;
  --color-dark-gray: #455155;
  --color-medium-gray: #4d5a5e;
  --color-orange: #cc6d2e;
  --color-light-orange: #e37933;
  --color-dark-gray-2: #627379;
  --color-medium-gray-2: #6d8086;
  --color-light-gray: #bfc2c1;
  --color-medium-light-gray: #d4d7d6;
  --color-pink: #dd4b78;
  --color-light-pink: #f55385;

}*/




.title-bar {
    -fx-background-color: #3E3E3E;
    -fx-border-color: #505050;
    -fx-border-width: 0 0 1 0;
}

.menu-bar > .container > .menu {
    -fx-background-color: transparent;
}

.menu-bar > .container > .menu:hover,
.menu-bar > .container > .menu:showing {
    -fx-background-color: #545454;
}

.menu-bar > .container > .menu > .label > .text {
    -fx-fill: #9A9A9A;
}

.menu-bar > .container > .menu:hover > .label > .text,
.menu-bar > .container > .menu:showing > .label > .text {
    -fx-fill: #C8C8C8;
}


.context-menu {
    -fx-background-color: #3E3E3E;
    -fx-border-color: #505050;
    -fx-padding: 1 0 1 0;
}

.menu-item {
    -fx-background-color: #3E3E3E;
}

.menu-item:hover {
    -fx-background-color: #545454;
}

.menu-item > .label > .text {
    -fx-fill: #9A9A9A;
}

.menu-item:hover > .label > .text {
    -fx-fill: #C8C8C8;
}

.activity-bar {
    -fx-background-color: #3C3C3C;
    -fx-border-color: #505050;
    -fx-border-width: 0 1 0 0;
}

.editor {
    -fx-background-color: #2D2D2D;
}

.side-bar {
    -fx-background-color: #292929;
    -fx-border-color: #505050;
    -fx-border-width: 0 1 0 0;
}

.workspace > .icon {
    -fx-background-color: #2E2E2E;
}

.body {
    -fx-background-color: #232323;
}

.scroll-bar {
    -fx-background-color: #262626;
    -fx-border-color: #505050;
    -fx-border-width: 0 1 0 1;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #45474a;
    -fx-background-radius: 2;
}

.scroll-bar:vertical .thumb:hover, .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #55575a;
}

.preview-bar {
    -fx-background-color: #232323;
}


.preview-pane {
    -fx-background-color: #ffffff11;
    -fx-border-color: #7c7c7c;
    -fx-border-width: 2 0 2 0;
}

.tab-pane:top .tab-header-area .tab-header-background {
    -fx-background-color: #292929;
    -fx-border-color: #505050;
    -fx-border-width: 0 0 1 0;
}

.tab-pane:top .tab-header-area .headers-region .tab .tab-container .tab-label > .text {
    -fx-fill: #9A9A9A;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected .tab-container .tab-label > .text {
    -fx-fill: #C8C8C8;
}

.tab-pane:top .tab-header-area .headers-region .tab {
    -fx-background-color: #292929;
    -fx-border-color: #3b3b3b;
    -fx-border-width: 0 1 0 0;
}


.tab-pane:top .tab-header-area .headers-region .tab:selected {
    -fx-background-color: #323232;
    -fx-border-color: #4b4b4b;
}


.tab-pane:top .tab-header-area .headers-region .tab:selected:top .tab-container .tab-close-button {

}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.tab-pane:top .tab-header-area .control-buttons-tab {
    -fx-pref-width: 18px;
    -fx-pref-height: 32px;
}

.tab-pane:top .tab-header-area .control-buttons-tab .container {
    -fx-background-color: #303030;
    -fx-border-color: #505050;
    -fx-border-width: 1 1 1 1;
    -fx-background-radius: 0;
}

.tab-pane:top .tab-header-area .control-buttons-tab .container .tab-down-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-padding: 8;
}


.h-tool-group-bar {
    -fx-background-color: #323232;
    -fx-border-color: #505050;
    -fx-border-width: 0 0 1 0;
}


.h-tool-group-bar > .group > * {
    -fx-padding: 2;
}

.h-tool-group-bar > .group > .button, .h-tool-group-bar > .group > .icon {
    -fx-background-color: #9A9A9A;
    -fx-background-insets: 0;
}

.h-tool-group-bar > .group > .button:selected, .h-tool-group-bar > .group > .button:pressed {
    -fx-background-color: #C8C8C8;
}

.h-tool-group-bar > .group > .button:selected, .h-tool-group-bar > .group > .button:pressed, .h-tool-group-bar > .group > .button:focused {
    -fx-padding: 2;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.h-tool-group-bar > .group {
    -fx-padding: 0 4 0 4;
    -fx-border-color: #505050;
    -fx-border-width: 0 1 0 0;
}


.v-tool-group-bar {
    -fx-background-color: #323232;
    -fx-border-color: #505050;
    -fx-border-width: 0 1 1 0;
}


.v-tool-group-bar > .group > .button {
    -fx-padding: 2;
    -fx-background-color: #9A9A9A;
    -fx-background-insets: 0;
}

.v-tool-group-bar > .group > .button:selected, .v-tool-group-bar > .group > .button:pressed {
    -fx-background-color: #C8C8C8;
}

.v-tool-group-bar > .group > .button:selected, .v-tool-group-bar > .group > .button:pressed, .v-tool-group-bar > .group > .button:focused {
    -fx-padding: 2;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.v-tool-group-bar > .group {
    -fx-padding: 4 0 4 0;
    -fx-border-color: #505050;
    -fx-border-width: 0 0 1 0;
}


.text-field {
    -fx-padding: 5;
    -fx-background-radius: 0;
    -fx-background-color: #292929;
    -fx-text-fill: #9A9A9A;
    -fx-highlight-fill: #093939;
    -fx-border-color: #505050;
    -fx-border-width: 1 1 1 1;
}


.text-field:focused {

    -fx-background-radius: 0;
    -fx-text-fill: #C8C8C8;
}